/* Universal formatting */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Setting page background color */
body {
  background-color: #d9dcd6;
  color: white;
}

/* Setting header styling */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: white;
}

/* Sets h1 formatting within the header */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Alters text color of "SEO" in Horiseon name */
header h1 .seo {
  color: #d9dcd6;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

/* Sets link formatting to not change and not be underlined */
a {
  color: white;
  text-decoration: none;
}

/* Complets nav formatting */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* formats banner picture, sets image, and applies background style */
#hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* floats main field to left side of page */
main {
  float: left;
  width: 76%;
}

/* floats certain images to left of their containers and sets height */
.float-left {
  float: left;
  margin-right: 25px;
  max-height: 200px;
}

/* floats certain images to right of their containers and sets height */
.float-right {
  float: right;
  margin-left: 25px;
  max-height: 200px;
}

/* formats the aside container and floats it to the right of the page */
aside {
  float: right;
  width: 20%;
  margin-right: 20px;
  margin-bottom: 32px;
  padding: 20px;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  display: block;
  font-size: 16px;
}

/* formats the h3 headers */
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* formats the images in the aside container with class benefit */
.benefit {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* formats the sections within main  */
section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  font-size: 16px;
}

/* formats h2 */
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* formats the footer */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  color: black;
}

/* formats the unique footer h2 */
footer h2 {
  font-size: 20px;
}
